<span class="issue scope-{{scope}}">
  <span class="label {{class || issueClass()}} {{issueUserTesting()}}">
    <a class="author" title="{{issue.author.login}}" target="_blank" href="{{issue.author.url}}"><img class="avatar-32" src="{{getAuthorAvatar(issue.author, 32)}}"></a>
    <a class="issue" target="_blank" href="{{issue.url}}">
      @if (scope == 'keyboards-lexical-models') {
        <span class="title">{{issue.title}}</span>
      }
      <span class='emoji'>{{issueEmoji()}}</span>{{issue.number}}
    </a>
    <span class='user-testing'> </span>
  </span>
  @if (scope != 'keyboards-lexical-models') {
    <div class="issue-detail {{pinned ? 'pinned':''}} gravity-{{gravityX}} gravity-{{gravityY}}" #wrapper>
      @if (pinned || (isVisible | async)) {
        <span class="title-changes">
          <span class="title"><span class="pin" (click)="pin()">📌</span> {{issue.title}}</span>
        </span>
        <table class="table table-sm table-borderless status-table"><tbody>
          <tr class="user-testing-status {{issueUserTesting()}}">
            <th class="user-testing-status-title">User testing</th>
            <td class="user-testing-status-value"></td>
          </tr>
        </tbody></table>
        <span class="labels">@for (label of issue.labels.nodes; track label) {
          <span class="issue-label" [style]="labelColor(label)">{{labelName(label.name)}}</span>
        }</span>
      }
    </div>
  }
</span>