.label {
  margin: 0;
  border-radius: 4px;
  display: inline-block;
  background: #c0c0c0;
  border: solid 1px #c0c0c0;
  /* box-shadow: 2px 2px rgba(40,40,40,0.4); */
  line-height: 1;
  vertical-align: top;
  height: 24px;
  font-weight: normal;
}

.label img.avatar-22 {
  border-radius: 4px 0 0 4px;
  background: white;
}

.label .error {
  background: #f56c0a;
}

.label .normal {
  background: rgb(224,229,233);
}

.label .error a {
  color: white;
}

.label > span {
  text-align: center;
  border-left: solid 1px #c0c0c0;
  padding: 5px 4px 3px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  display: inline-block;
  vertical-align: top;
  min-width: 32px;
  height: 100%;
}

.label > span:first-child {
  border-left: none;
}

.label a {
  color: black;
}


.sentry-container {
  white-space: nowrap;
  position: relative;
}

.sentry-detail {
  display: flex;
  position: absolute;
  text-align: left;
  z-index: 10;
  background: #fcfffc;
  border: solid 1px #4c4c30;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding: 0px;
  width: max-content;
  max-width: 800px;
  font-size: 10pt;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.15s linear;
  transition-delay: 0.25s;
}

.sentry-detail.gravity-top {
  border-radius: 4px 4px 0 0;
  flex-direction: column-reverse;
}

.sentry-detail > .issues {
  padding: 3px;
  max-height: 320px;
  overflow-y: auto;
}

.gravity-bottom.sentry-detail {
  top: 22px;
}

.gravity-top.sentry-detail {
  bottom: 22px;
}

.sentry-detail:hover,
.sentry-detail.pinned,
.label:hover + .sentry-detail {
  visibility: visible;
  opacity: 1;
}

.pinned .pin {
  background: #60a060;
  border-radius: 6px;
}

.summary {
  background: #e0e0e8;
  padding: 4px;
  font-size: 8pt;
  font-weight: normal;
}

.gravity-top .summary {
  border-top: solid 1px #4c4c30;
}

.gravity-bottom .summary {
  border-bottom: solid 1px #4c4c30;
}

.gravity-left .summary > span {
  float: right;
  margin: 0 2px;
}

.gravity-left .summary > .clear {
  float: none;
  clear: right;
}

.summary .summary-label {
  padding: 0 4px;
  font-weight: bold;
}

.summary .summary-environment {
  color: #914108;
  padding-left: 4px;
}

.summary .summary-label::after {
  content: ':';
}

.pin:hover {
  background: #c0e0c0;
}

.pin {
  cursor: pointer;
  margin-right: 2px;
}

ul.issues {
  margin: 0;
  padding: 0;
}

ul.issues li {
  margin: 2px 0 2px 0;
  list-style: none;
  font-size: 9pt;
}

ul.issues a {
  padding: 2px 4px;
}

ul.issues a:hover {
  background: #c0ffff;
  border-radius: 3px 3px 0 0;
}

ul.issues b {
  padding-right: 4px;
}

ul.issues .label {
  height: 18px;
  min-width: auto;
}

ul.issues .label span {
  font-size: 8pt;
  line-height: 8pt;
  padding: 3px 0;
}