.label {
  margin: 0;
  border-radius: 4px;
  display: inline-block;
  background: #c0c0c0;
  border: solid 1px #c0c0c0;
  /* box-shadow: 2px 2px rgba(40,40,40,0.4); */
  line-height: 1;
  vertical-align: top;
  height: 24px;
  font-weight: normal;
}

.label img.avatar-22 {
  border-radius: 4px 0 0 4px;
  background: white;
}

.label.error {
  background: #f56c0a;
}

.label.normal {
  background: rgb(224,229,233);
}

.label.error a {
  color: white;
}

.label a {
  color: black;
  padding: 0px 10px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  display: inline-block;
  vertical-align: middle;
}

.sentry-container {
  white-space: nowrap;
}