/* Contributions */

.avatar-box {
  margin-left:3px;
  cursor: pointer;
  display: inline-block;
  border: solid 2px rgba(0,0,0,0);
  border-radius: 4px;
}

.avatar-box img {
}

.avatar-box:hover {
  border: solid 2px yellow;
}

.avatar-box.selected {
  border: solid 2px white;
}

.availability-tablet {
  height: 18px;
  font-size: 12px;
  text-align: center;
}

.user-10pm-to-4am {
  background: hsl(0, 75%, 35%);
  color: white;
}

.user-4am-to-6am {
  background: hsl(30, 75%, 35%);
  color: black;
}

.user-6am-to-8am {
  background: hsl(60, 76%, 51%);
  color: black;
}

.user-8am-to-6pm {
  background: hsl(120, 75%, 35%);
  color: white;
}

.user-6pm-to-8pm {
  background: hsl(210, 75%, 35%);
  color: white;
}

.user-8pm-to-10pm {
  background: hsl(270, 75%, 35%);
  color: white;
}
