/* Contributions */

.avatar-box {
  margin-left:3px;
  cursor: pointer;
  display: inline-block;
  border: solid 2px rgba(0,0,0,0);
  border-radius: 4px;
}

.avatar-box img {
}

.avatar-box:hover {
  border: solid 2px green;
}

.avatar-box.selected {
  border: solid 2px red;
}
