/* Contributions */

.avatar-box {
  margin-left:3px;
  cursor: pointer;
  display: inline-block;
  border: solid 2px rgba(0,0,0,0);
  border-radius: 4px;
}

.avatar-box img {
}

.avatar-box:hover {
  border: solid 2px yellow;
}

.avatar-box.selected {
  border: solid 2px white;
}

.availability-tablet {
  height: 18px;
  font-size: 12px;
  text-align: center;
}

.user-at-work {
  background: green;
  color: white;
}

.user-asleep-or-weekend {
  background: red ;
  color: black;
}

.user-awake {
  background: orange;
  color: black;
}