<div class="flex-box">
  <nav class="navbar navbar-dark bg-dark shadow navbar-sm">
      <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand">
              {{title}}
            </span>
            <span class="navbar-phase">
              <a target='_blank' href='https://github.com/keymanapp/keyman/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3A{{phase?.title}}+org%3Akeymanapp'>{{phase?.title}}</a>
              <span class="navbar-phase-dates">{{phaseStart}} &mdash; {{phaseEnd}}</span>
            </span>

            <app-issue-list [repo]="'keyman'" [isNav]="true" [issues]="status?.github?.data.unlabeledIssues.nodes"></app-issue-list>

            <span class="navbar-new-pulls">
              <span *ngFor="let pull of unlabeledPulls">
                <app-pull-request [class]="'failure'" [pull]="pull"></app-pull-request>
              </span>
            </span>
            <span class="navbar-contributions" *ngIf="showContributions">
              <span class="navbar-contribution {{selectedContribution == user.login ? 'fixed' : ''}}" *ngFor="let user of status?.contributions?.data.repository.contributions.nodes">
                <span *ngIf="user.contributions.tests.nodes.length + user.contributions.pullRequests.nodes.length + user.contributions.reviews.nodes.length + user.contributions.issues.nodes.length > 0">
                  <img class="avatar-40" src="{{user.avatarUrl}}&size=40" (click)="selectUser(user.login)">
                  <span class="navbar-contribution-data dropdown-menu-right">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style='width:9%'>
                            <a href='https://github.com/{{user.login}}?tab=overview&from={{sprintDays[0]?.ghdate}}&to={{sprintDays[13]?.ghdate}}' target='_blank'><img class="avatar-48" src="{{user.avatarUrl}}&size=48">
                            {{user.login}}</a>
                          </th>
                          <th style='width:6.5%' *ngFor="let day of sprintDays">
                            <a href='https://github.com/{{user.login}}?tab=overview&from={{day?.ghdate}}&to={{day?.ghdate}}' target='_blank'>{{day?.dayText}}<br>{{day?.monthText}} {{day?.dateText}}</a>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>
                            Issues
                            <app-clipboard [text]="getContributionIssueText(user)" title="Copy HTML formatted list of issues to clipboard"></app-clipboard>
                          </th>
                          <td  *ngFor="let day of sprintDays">
                            <span *ngFor="let issue of user.contributions.issues.nodes | filterObjectByDate: day.date">
                              <a class='contribution-issue' href='{{issue.issue.url}}' target='_blank' title='{{issue.issue.title}}'>{{issue.issue.number}}</a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            PRs
                            <app-clipboard [text]="getContributionPRText(user)" title="Copy HTML formatted list of pull requests to clipboard"></app-clipboard>
                          </th>
                          <td *ngFor="let day of sprintDays">
                            <span *ngFor="let pr of user.contributions.pullRequests.nodes | filterObjectByDate: day.date">
                              <a class='contribution-issue' href='{{pr.pullRequest.url}}' target='_blank' title='{{pr.pullRequest.title}}'>{{pr.pullRequest.number}}</a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            Reviews
                            <app-clipboard [text]="getContributionReviewText(user)" title="Copy HTML formatted list of reviews to clipboard"></app-clipboard>
                          </th>
                          <td *ngFor="let day of sprintDays">
                            <span *ngFor="let review of user.contributions.reviews.nodes | filterObjectByDate: day.date">
                              <a class='contribution-issue' href='{{review.pullRequest.url}}' target='_blank' title='{{review.pullRequest.title}}'>{{review.pullRequest.number}}</a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            Tests
                            <app-clipboard [text]="getContributionTestText(user)" title="Copy HTML formatted list of test references to clipboard"></app-clipboard>
                          </th>
                          <td *ngFor="let day of sprintDays">
                            <span *ngFor="let test of user.contributions.tests.nodes | filterObjectByDate: day.date">
                              <a class='contribution-issue' href='{{test.url}}' target='_blank' title='{{test.issue.title}}'>{{test.issue.number}}</a>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </span>
                </span>
              </span>
            </span>

            <span class="navbar-refresh" *ngIf="showRefreshButton">
              <a class="btn btn-sm btn-success" id='navbar-refresh-link' href="javascript:void(0)" (click)="refreshBackend()" title="Force server-side refresh">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                  <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
              </a>
            </span>
          </div>
      </div>
  </nav>

  <!-- <h1></h1> -->

  <div class="flex-container container-fluid {{isBetaRunning() ? 'in-beta' : 'not-in-beta'}}">
    <table class="table table-striped table-bordered issue-view-{{issueView}} pull-request-view-{{pullRequestView}}">
      <thead class='thead-dark'>
        <tr>
          <th id='th-platform'>Platform</th>
          <th id='th-stable' class='tier'>Stable</th>
          <th id='th-beta' class='tier'>Beta</th>
          <th id='th-alpha' class='tier'>Alpha</th>
          <th id='th-issues'>Issues
            <span class='view-link issue-view-link'>
              View:
              <a id='issue-view-link-current' href="javascript:void(0)" (click)="setIssueView('current')">Current</a>
              <a id='issue-view-link-all' href="javascript:void(0)" (click)="setIssueView('all')">All</a>
            </span>
          </th>
          <th id='th-pulls'>Pull Requests
            <span class='view-link pull-request-view-link'>
              View by:
              <a id='pull-request-view-link-platform' href="javascript:void(0)" (click)="setPRView('platform')">Platform</a>
              <a id='pull-request-view-link-project' href="javascript:void(0)" (click)="setPRView('project')">Project</a>
              <a id='pull-request-view-link-status' href="javascript:void(0)" (click)="setPRView('status')">Status</a>
              <a id='pull-request-view-link-author' href="javascript:void(0)" (click)="setPRView('author')">Author</a>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='tr-platform' *ngFor="let platform of platforms | keyvalue">
          <th>
            <div *ngIf="!showCodeOwners">
              <img src="assets/{{platform.value.id}}.png">&#160;&#160;
              <a href="https://github.com/keymanapp/keyman/pulls?q=is%3Aopen+is%3Apr+label%3A{{platform.value.id}}/" target="_blank">{{platform.value.name}}</a>
            </div>
            <div *ngIf="showCodeOwners">
              <div class="platform-row">
                <div class="platform-icon">
                  <img src="assets/{{platform.value.id}}.png">
                </div>
                <div class="platform-owner" *ngIf="status.codeOwners[platform.value.id]">
                  <img class="avatar-22" src="https://github.com/{{status.codeOwners[platform.value.id].owner}}.png?size=22" title="Platform owner: @{{status.codeOwners[platform.value.id].owner}}">
                </div>
                <div class="platform-advocate" *ngIf="status.codeOwners[platform.value.id] && showCodeOwners">
                  <img class="avatar-22" src="https://github.com/{{status.codeOwners[platform.value.id].advocate}}.png?size=22" title="Platform advocate: @{{status.codeOwners[platform.value.id].advocate}}">
                </div>
              </div>
              <div class="platform-row">
                <div class="platform-title">
                  <a href="https://github.com/keymanapp/keyman/pulls?q=is%3Aopen+is%3Apr+label%3A{{platform.value.id}}/" target="_blank">{{platform.value.name}}</a>
                </div>
              </div>
            </div>
          </th>

          <td class="tier" id="tier-stable">
            <div class="tier-container" *ngIf="platform.value.id != 'common'">
              <div class="tier-build-state" title="{{statusTip(platform.value.id,'stable')}}">
                <a class="label {{statusClass(platform.value.id,'stable')}}" href="{{statusLink(platform.value.id,'stable')}}" target="_blank">{{statusText(platform.value.id,'stable')}}</a>
              </div>

              <app-deploy-box
                [changeCounter]="changeCounter"
                [tier]="'stable'"
                [status]="status"
                [builtVersion]="statusText(platform.value.id,'stable')"
                [platform]="platform"
                [downloadClass]="downloadClass(platform.value.id,'stable')"
                [releaseDate]="releaseDate(platform.value.id,'stable')">
              </app-deploy-box>

              <div class="tier-test {{tierTestClass(platform.value.id,'stable')}}" title="{{tierTestTitle(platform.value.id,'stable')}}">
                <a href="{{tierTestLink(platform.value.id,'stable')}}" target="_blank">🧪</a>
              </div>

              <app-sentry [environment]="'stable'" [gravityX]="'right'" [gravityY]="(platform.value.id == 'developer' || platform.value.id == 'common' ? 'top' : 'bottom')" [platform]="platform.value.id" [issues]="status?.sentryIssues[platform.value.id]"></app-sentry>

            </div>
          </td>

          <td class="tier" id="tier-beta">
            <div class="tier-container" *ngIf="platform.value.id != 'common'">
              <div class="tier-build-state" title="{{statusTip(platform.value.id,'beta')}}">
                <a class="label {{statusClass(platform.value.id,'beta')}}" href="{{statusLink(platform.value.id,'beta')}}" target="_blank">{{statusText(platform.value.id,'beta')}}</a>
              </div>

              <app-deploy-box
                [changeCounter]="changeCounter"
                [tier]="'beta'"
                [status]="status"
                [builtVersion]="statusText(platform.value.id,'beta')"
                [platform]="platform"
                [downloadClass]="downloadClass(platform.value.id,'beta')"
                [releaseDate]="releaseDate(platform.value.id,'beta')">
              </app-deploy-box>

              <div class="tier-test {{tierTestClass(platform.value.id,'beta')}}" title="{{tierTestTitle(platform.value.id,'beta')}}">
                <a href="{{tierTestLink(platform.value.id,'beta')}}" target="_blank">🧪</a>
              </div>

              <app-sentry [mode]="'simple'" [environment]="'beta'" [gravityX]="'right'" [gravityY]="(platform.value.id == 'developer' || platform.value.id == 'common' ? 'top' : 'bottom')" [platform]="platform.value.id" [issues]="status?.sentryIssues[platform.value.id]"></app-sentry>

            </div>
          </td>

          <td class="tier" id="tier-alpha">
            <div class="tier-container" *ngIf="platform.value.id != 'common'">
              <div class="tier-build-state" title="{{statusTip(platform.value.id,'alpha')}}">
                <a class="label {{statusClass(platform.value.id,'alpha')}}" href="{{statusLink(platform.value.id,'alpha')}}" target="_blank">{{statusText(platform.value.id,'alpha')}}</a>
              </div>

              <app-deploy-box
                [changeCounter]="changeCounter"
                [tier]="'alpha'"
                [status]="status"
                [builtVersion]="statusText(platform.value.id,'alpha')"
                [platform]="platform"
                [downloadClass]="downloadClass(platform.value.id,'alpha')"
                [releaseDate]="releaseDate(platform.value.id,'alpha')">
              </app-deploy-box>

              <div class="tier-test {{tierTestClass(platform.value.id,'alpha')}}" title="{{tierTestTitle(platform.value.id,'alpha')}}">
                <a href="{{tierTestLink(platform.value.id,'alpha')}}" target="_blank">🧪</a>
              </div>

              <app-sentry [mode]="'simple'" [environment]="'alpha'" [gravityX]="'right'" [gravityY]="(platform.value.id == 'developer' || platform.value.id == 'common' ? 'top' : 'bottom')" [platform]="platform.value.id" [issues]="status?.sentryIssues[platform.value.id]"></app-sentry>
            </div>
          </td>

          <td class="issues">
            <div class="issue-container">
              <div class="issue-count-container">
                <a class="issue-count" target="_blank" href="https://github.com/keymanapp/keyman/issues?q=is%3Aopen+is%3Aissue+label%3A{{platform.value.id}}/">{{platform.value.totalIssueCount}}</a>
              </div>
              <div class="issue-box-container">
                <ng-container *ngFor="let milestone of platform.value.milestones">
                  <app-issue-list [view]="issueView" [gravityX]="'left'" [gravityY]="(platform.value.id == 'developer' || platform.value.id == 'common' ? 'top' : 'bottom')" [repo]="'keyman'" [milestone]="milestone" [platform]="platform" [issues]="milestone?.nodes"></app-issue-list>
                </ng-container>
              </div>
            </div>
          </td>

          <td class="pulls" *ngIf="pullRequestView == 'status' && platform.value.id == 'android'" rowspan='8'>
            <table><tbody>
              <tr *ngFor="let status of pullsByStatus | keyvalue">
                <td>{{pullStatusName[status.key]}}</td>
                <td>
                  <span *ngFor="let pull of status.value">
                    <app-pull-request [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>

          <td class="pulls" *ngIf="pullRequestView == 'project' && platform.value.id == 'android'" rowspan='8'>
            <table><tbody>
              <tr *ngFor="let project of pullsByProject | keyvalue">
                <td class='emoji'>{{project.key == 'other' ? '⬜' : project.key}}</td>
                <td>
                  <span *ngFor="let pull of project.value">
                    <app-pull-request [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>

          <td class="pulls" *ngIf="pullRequestView == 'author' && platform.value.id == 'android'" rowspan='8'>
            <table><tbody>
              <tr *ngFor="let author of pullsByAuthor | keyvalue">
                <td><a class="author" title="{{author.value[0].pull.node.author.login}}" target="_blank" href="{{author.value[0].pull.node.author.url}}"><img class="avatar-48" src="{{author.value[0].pull.node.author.avatarUrl}}&size=48"></a></td>
                <td>
                  <span *ngFor="let pull of author.value">
                    <app-pull-request [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
                  </span>
                </td>
              </tr>
            </tbody></table>
          </td>

          <td class="pulls" *ngIf="pullRequestView == 'platform'">
            <div [class]="'emoji-group' + (emoji.key == '' ? '' : ' emoji-group-border')" *ngFor="let emoji of platform.value.pullsByEmoji | keyvalue">
              <span *ngIf="emoji.key != ''" class="emoji">{{emoji.key}}</span>
              <span *ngFor="let pull of emoji.value">
                <app-pull-request [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="platform.value.id" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
              </span>
              </div>
          </td>
        </tr>

      </tbody>
    </table>
    <table id="sites-and-relatives" class="table table-striped table-bordered table-sm issue-view-{{issueView}}">
      <tbody>
        <tr class='tr-site'>
          <th class='th-keyboards'><a href="https://github.com/keymanapp/keyboards" target="_blank">⌨ keyboards</a></th>
          <th class='th-lexical-models'><a href="https://github.com/keymanapp/lexical-models" target="_blank">📔 lexical-models</a></th>
          <th class='gap'></th>
          <th *ngFor="let site of sites | keyvalue"><a target="_blank" href='https://github.com/keymanapp/{{site.key}}'>{{site.value.id}}</a>
            <span class='nodeping'></span>
            <app-sentry [environment]="'production'" [gravityX]="site.key &lt; 'help' ? 'right' : 'left'" [gravityY]="'top'" [site]="site.key" [platform]="site.key" [issues]="status?.sentryIssues[site.key]"></app-sentry>
          </th>
          <th class='gap'></th>
          <th id='other-repos-cell'>
            <span id='other-repos-title'>other repos</span>
            <div id='other-repos'>
              <ul>
                <li *ngFor="let repo of otherSites?.repos">
                  <a target="_blank" href='https://github.com/keymanapp/{{repo}}'>{{repo}}</a>
                </li>
              </ul>
            </div>
          </th>
        </tr>
        <tr class='tr-site'>
          <td class='pulls'>
            <app-pull-request-list
              [view]="'all'"
              [gravityX]="'right'"
              [gravityY]="'top'"
              [repo]="'keyboards'"
              [milestone]="{title:'Open PRs',count:keyboardPRs?.length}"
              [pullRequests]="keyboardPRs"></app-pull-request-list>
          </td>
          <td class='pulls'>
            <app-pull-request-list
              [view]="'all'"
              [gravityX]="'right'"
              [gravityY]="'top'"
              [repo]="'lexical-models'"
              [milestone]="{title:'Open PRs',count:lexicalModelPRs?.length}"
              [pullRequests]="lexicalModelPRs">
            </app-pull-request-list>
          </td>
          <td class='gap'></td>
          <ng-container *ngFor="let site of sites | keyvalue">
          <td class='pulls'>
            <span *ngFor="let pull of site.value.pulls">
              <app-pull-request [scope]="'site'" [gravityX]="site.key &lt; 'help' ? 'right' : 'left'" [gravityY]="'top'" [class]="" [pull]="pull"></app-pull-request>
            </span>
          </td>
          </ng-container>
          <td class='gap'></td>
          <td class='pulls'>
            <span *ngFor="let pull of otherSites?.pulls">
              <app-pull-request [scope]="'site'" [gravityX]="'left'" [gravityY]="'top'" [class]="" [pull]="pull"></app-pull-request>
            </span>
          </td>
        </tr>
        <tr class='tr-site'>
          <td class='issues'>
            <app-issue-list [view]="'all'" [gravityX]="'right'" [gravityY]="'top'" [repo]="'keyboards'" [milestone]="{title:'Open issues',count:keyboardIssues.length}" [issues]="keyboardIssues"></app-issue-list>
          </td>
          <td class='issues'>
            <app-issue-list [view]="'all'" [gravityX]="'right'" [gravityY]="'top'" [repo]="'lexical-models'" [milestone]="{title:'Open issues',count:lexicalModelIssues.length}" [issues]="lexicalModelIssues"></app-issue-list>
          </td>
          <td class='gap'></td>
          <ng-container *ngFor="let site of sites | keyvalue">
            <td class='issues'>
              <ng-container *ngFor="let milestone of site.value.milestones">
                <app-issue-list [view]="issueView" [gravityX]="site.key &lt; 'help' ? 'right' : 'left'" [gravityY]="'top'" [repo]="site.key" [milestone]="milestone" [issues]="milestone?.nodes"></app-issue-list>
              </ng-container>
            </td>
          </ng-container>
          <td class='gap'></td>
          <td class='issues'>
            <ng-container *ngFor="let milestone of otherSites?.milestones">
              <app-issue-list [view]="issueView" [gravityX]="'left'" [gravityY]="'top'" [repo]="'*'" [milestone]="milestone" [issues]="milestone?.nodes"></app-issue-list>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  </div>