<div class="flex-box">
  <div id="contributions">
    <span id="sprint">{{sprint}}</span> <app-contributions></app-contributions>
  </div>
  <div class="loading">
    @if (!milestones) {
      <div>Loading Milestone data...</div>
    }
    @if (!status.contributions) {
      <div>Loading GitHub contributions for {{sprint}}...</div>
    }
    @if (!status.communitySite) {
      <div>Loading Community Site contributions for {{sprint}}...</div>
    }
  </div>
  <div class="sprints">
    @for (milestone of milestones; track milestone) {
      <span>
        @if (shouldIncludeMilestone(milestone)) {
          <span>
            <a href="/contributions?sprint={{milestone.title}}">{{milestone.title}}</a> &nbsp;
          </span>
        }
      </span>
    }
  </div>
</div>