.flex-box {
  display: block;
  padding: 16px;
}

.loading {
  padding: 8px;
}

.loading > div {
  background: url('/assets/spinner-32.gif') no-repeat top left;
  min-height: 32px;
  padding-left: 36px;
  padding-top: 4px;
}

#contributions {
  background: #cccccc;
  padding: 4px;
  border-radius: 4px;
}

#sprint {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  display: block;
  float: left;
  margin: 8px 0 0 8px;
}

app-contributions {
  display: inline-block;
  min-height: 32px;
}

#sprints a { margin-left: 8px; }