<div class="issue-list">
  <ul>
    <li *ngFor="let issue of issues">
      <span class="label">
        <a class="author" title="{{issue.author.login}}" target="_blank" href="{issue.author.url}}"><img class="avatar-22" src="{{issue.author.avatarUrl}}&size=22"></a>
        <a class="issue" title="{{issue.title}}" target="_blank" href="{{issue.url}}">{{issue.number}}: {{issue.title}}</a>
        <span *ngFor="let label of issue.labels.nodes"><span class="issue-label" [style]="issueColor(label)">{{labelName(label.name)}}</span><wbr /></span>
      </span>
    </li>
  </ul>
</div>