<span class="navbar-sub-item-block">

  <div class="issue-list">
    <div class="summary">
      <span><app-clipboard [text]="getIssueListText()" title="Copy list of issues to clipboard"></app-clipboard></span>
      <span>
        @if (user.login != '') {
          <span class="summary-label">Issues <a href="https://github.com/search?q=org%3Akeymanapp+assignee%3A{{user.login}}+milestone%3A{{status.currentSprint?.title}}+is%3Aopen&type=issues" target="_blank">assigned</a> to <a href="https://github.com/{{user.login}}" target="_blank">&#64;{{user.login}}</a> in {{status.currentSprint?.title}}</span>
        }
        @if (user.login == '') {
          <span class="summary-label">Unassigned issues in {{status.currentSprint?.title}}</span>
        }
      </span>
      <div class='clear'></div>
    </div>
    <ul >
      @for (issue of issues; track issue) {
        <li>
          @if (issueIsDifferentRepo(issue)) {
            <div class="repo {{issueIsFirst(issue) ? 'repo-first' : ''}}">{{issue.repository.name}}</div>
          }
          <span class="label">
            <a class="author" title="{{issue.author.login}}" target="_blank" href="{{issue.author.url}}"><img class="avatar-22" src="{{getAuthorAvatar(issue.author, 22)}}"></a>
            <a class="issue" title="{{issue.title}}" target="_blank" href="{{issue.url}}">{{issueHasLinkedPR(issue) ? '✔ ': ''}}<b>{{issue.number}}</b> {{issue.title}}</a>
            @for (pr of issue.timelineItems?.nodes; track pr) {
              <span class="related-pr">
                <a href="{{pr.subject.url}}" class="{{pr.willCloseTarget ? 'will-close' : ''}}" target="_blank">{{pr.subject.url && pr.subject.url.includes('/pull/') ? '🔗' : '🔵'}}#{{pr.subject.number}}</a>
              </span>
            }
            @for (label of issue.labels?.nodes; track label) {
              <span><span class="issue-label" [style]="labelColor(label)">{{labelName(label.name)}}</span></span>
            }
          </span>
        </li>
      }
    </ul>
  </div>

</span>
