<span class="pull-request">
<span class="label {{class || pullClass()}} {{pullStatus()}}">
  <a class="author" title="{{pull.pull.node.author.login}}" target="_blank" href="{{pull.pull.node.author.url}}"><img class="avatar-32" src="{{pull.pull.node.author.avatarUrl}}&size=32"></a>
  <a class="pull" target="_blank" href="{{pull.pull.node.url}}">
    <span *ngIf='pullIsCherryPick()' class='cherry-pick'>🍒 </span>{{pull.pull.node.number}}
  </a>
</span>
<div class="pull-request-detail gravity-{{gravity}}">
  <span class="branches">
    <span class="branch">{{pull.pull.node.baseRefName}}</span> &larr; <span class="branch">{{pull.pull.node.headRefName}}</span>
    <span class="related-issue" *ngFor="let issue of pull.pull.node.timelineItems?.nodes">
      <a href="https://github.com/keymanapp/keyman/issues/{{issue.subject.number}}" target="_blank">🔗 #{{issue.subject.number}}</a>
    </span>
    <app-clipboard [text]="pull.pull.node.headRefName" title="Copy head branch name to clipboard"></app-clipboard>
  </span>
  <span class="title">{{pull.pull.node.title}}</span>
  <span class="status">{{pull.state ? pull.state.context + ': ' + pull.state.description : ''}}</span>
  <span class="labels"><span class="issue-label" *ngFor="let label of pull.pull.node.labels.edges" [style]="labelColor(label.node)">{{labelName(label.node.name)}}</span></span>
</div>
</span>