.label {
  margin: 0 4px;
  border-radius: 4px;
  display: inline-block;
  background: #c0c0c0;
  box-shadow: 3px 3px rgba(40,40,40,0.2);
}

.label a.author img.avatar-32 {
  border-radius: 4px 0 0 4px;
}

/* Background of pull request and build status */

.label.success {
  background: rgb(68, 204, 17);
}

.label.failure {
  background: rgb(255, 24, 48);
}

.label.pending {
  background: rgb(240,240,100);
}

.label.missing {
  /* missing CI, or draft PR */
  background: rgb(224,229,233);
}

.label.success a,
.label.failure a {
  color: white;
}

.label a,
.label.pending a,
.label.missing a {
  color: black;
}

/* Future PRs */

.label.status-draft {
  opacity: 0.5;
}

.future {
  opacity: 0.3;
}

/* Pull Request Review Status */

.label.status-approved,
.label.status-pending,
.label.status-changes-requested {
  padding-right: 2px;
}

.label.status-approved::after {
  content: '✔️';
  alt: 'Approved';
  font-size: 0.75rem;
  display: inline-block;
  font-family: "Noto Color Emoji";
  color: black;
}

.label.status-pending::after {
  content:'😶';
  alt: 'Pending';
  font-size: 0.75rem;
  font-family: "Noto Color Emoji";
  color: black;
}

.label.status-changes-requested::after {
  content:'❌';
  alt: 'Changes Requested';
  font-size: 0.75rem;
  font-family: "Noto Color Emoji";
  color: black;
}

.label.status-draft::after {
  content:'🚧';
  alt: 'In Draft';
  padding-right: 4px;
  font-size: 0.75rem;
  font-family: "Noto Color Emoji";
  color: black;
}

.label a.pull {
  padding: 0px 6px;
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: middle;
}

.cherry-pick {
  color: rgba(0,0,0,0.5);
}