.label {
  margin: 0 4px;
  border-radius: 4px;
  display: inline-block;
  background: #c0c0c0;
  box-shadow: 3px 3px rgba(40,40,40,0.2);
}

.label a.author img.avatar-32 {
  border-radius: 4px 0 0 4px;
}

/* Background of pull request and build status */

.label.success {
  background: rgb(68, 204, 17);
}

.label.failure {
  background: rgb(255, 24, 48);
}

.label.pending {
  background: rgb(240,240,100);
}

.label.missing {
  /* missing CI, or draft PR */
  background: rgb(224,229,233);
}

.label.success a,
.label.failure a {
  color: white;
}

.label a,
.label.pending a,
.label.missing a {
  color: black;
}

/* Future PRs */

.label.status-draft {
  opacity: 0.5;
}

.future {
  opacity: 0.3;
}

/* Pull Request Review Status */

.label.status-approved,
.label.status-pending,
.label.status-changes-requested {
  padding-right: 2px;
}

.label.status-approved::after {
  content: '✔️';
  alt: 'Approved';
  font-size: 0.75rem;
  display: inline-block;
  font-family: "Noto Color Emoji";
  color: black;
}

.label.status-pending::after {
  content:'😶';
  alt: 'Pending';
  font-size: 0.75rem;
  font-family: "Noto Color Emoji";
  color: black;
}

.label.status-changes-requested::after {
  content:'❌';
  alt: 'Changes Requested';
  font-size: 0.75rem;
  font-family: "Noto Color Emoji";
  color: black;
}

.label.status-draft::after {
  content:'🚧';
  alt: 'In Draft';
  padding-right: 4px;
  font-size: 0.75rem;
  font-family: "Noto Color Emoji";
  color: black;
}

.label a.pull {
  padding: 0px 6px;
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: middle;
}

.cherry-pick {
  color: rgba(0,0,0,0.5);
}

.pull-request {
  position: relative;
}

.pull-request-detail {
  display: none;
  position: absolute;
  right: 4px;
  top: 29px;
  text-align: left;
  z-index: 10;
  background: #fcfffc;
  border: solid 1px #4c4c30;
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding: 3px;
  width: max-content;
  max-width: 720px;
  font-size: 10pt;
}

.pull-request:hover > .pull-request-detail {
  display: block;
}

.branches {
  display: block;
}

.branch {
  color: #0366d6;
  background: #eff7ff;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  border-radius: 6px;
  padding: 0 5px;
  display: inline-block;
  margin: 0 2px;
 }

 .title {
   display: block;
   font-weight: bold;
 }

 .status {
   display: block;
 }