<span class="pull-request">
<span class="label {{class || pullClass()}} {{pullStatus()}}">
  <a class="author" title="{{pull.pull.node.author.login}}" target="_blank" href="{{pull.pull.node.author.url}}"><img class="avatar-32" src="{{pull.pull.node.author.avatarUrl}}&size=32"></a>
  <a class="pull" target="_blank" href="{{pull.pull.node.url}}">
    <span *ngIf='pullIsCherryPick()' class='cherry-pick'>🍒 </span>{{pull.pull.node.number}}
  </a>
</span>
<div class="pull-request-detail">
  <span class="branches">
    <span class="branch">{{pull.pull.node.baseRefName}}</span> &larr; <span class="branch">{{pull.pull.node.headRefName}}</span> 
    <app-clipboard [text]="pull.pull.node.headRefName" title="Copy head branch name to clipboard"></app-clipboard>
  </span>
  
  <span class="title">{{pull.pull.node.title}}</span>
  <span class="status">{{pull.state ? pull.state.context + ': ' + pull.state.description : ''}}</span>
</div>
</span>