@for (emoji of platform.pullsByEmoji | keyvalue; track emoji.key) {
  <div [class]="'emoji-group' + (emoji.key == '' ? '' : ' emoji-group-border')">
    @if (emoji.key != '') {
      <span class="emoji">{{emoji.key}}</span>
    }
    @for (pull of emoji.value; track pull) {
      <span>
        <app-pull-request [status]="status" [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="platform.id" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
      </span>
    }
  </div>
}
