<table><tbody>
  @for (pullStatus of pullsByStatus | keyvalue; track pullStatus) {
    <tr>
      <td>
        @if (pullStatus.key == 'draft') {
          <a target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+is%3Adraft">{{pullStatusName[pullStatus.key]}}</a>
        }
        @if (pullStatus.key == 'epics') {
          <a target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+head%3Aepic%2F">{{pullStatusName[pullStatus.key]}}</a>
        }
        @if (pullStatus.key == 'waitingTest') {
          <a target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+label%3Auser-test-required">{{pullStatusName[pullStatus.key]}}</a>
        }
        @if (pullStatus.key == 'waitingReview') {
          <a target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+review%3Arequired+-is%3Adraft">{{pullStatusName[pullStatus.key]}}</a>
        }
        @if (pullStatus.key != 'waitingReview' && pullStatus.key != 'draft' && pullStatus.key != 'epics' && pullStatus.key != 'waitingTest') {
          <span>{{pullStatusName[pullStatus.key]}}</span>
        }
      </td>
      <td>
        @for (pull of pullStatus.value; track pull) {
          <span>
            <app-pull-request [status]="status" [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
          </span>
        }
        @if (pullStatus.key =='readyToMerge') {
          <span>
            @for (issue of userTestIssuesPassed; track issue) {
              <span>
                <app-issue [changeCounter]="changeCounter" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [issue]="issue"></app-issue>
              </span>
            }
          </span>
        }
        @if (pullStatus.key =='waitingTest') {
          <span>
            @for (issue of userTestIssues | filterIssueByLabel: 'user-test-required'; track issue) {
              <span>
                <app-issue [changeCounter]="changeCounter" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [issue]="issue"></app-issue>
              </span>
            }
          </span>
        }
        @if (pullStatus.key =='waitingResponse') {
          <span>
            @for (issue of userTestIssues | filterIssueByLabel: 'user-test-failed'; track issue) {
              <span>
                <app-issue [changeCounter]="changeCounter" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [issue]="issue"></app-issue>
              </span>
            }
          </span>
        }
      </td>
    </tr>
  }
</tbody></table>