<table><tbody>
  <tr *ngFor="let status of pullsByStatus | keyvalue">
    <td>
      <a *ngIf="status.key == 'draft'" target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+is%3Adraft">{{pullStatusName[status.key]}}</a>
      <a *ngIf="status.key == 'waitingTest'" target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+label%3Auser-test-required">{{pullStatusName[status.key]}}</a>
      <a *ngIf="status.key == 'waitingReview'" target="_blank" href="https://github.com/keymanapp/keyman/pulls?q=is%3Apr+is%3Aopen+review%3Arequired+-is%3Adraft">{{pullStatusName[status.key]}}</a>
      <span *ngIf="status.key != 'waitingReview' && status.key != 'draft' && status.key != 'waitingTest'">{{pullStatusName[status.key]}}</span>
    </td>
    <td>
      <span *ngFor="let pull of status.value">
        <app-pull-request [changeCounter]="changeCounter" [teamCity]="status.teamCity" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [pull]="pull"></app-pull-request>
      </span>
      <span *ngIf="status.key =='readyToMerge'">
        <span *ngFor="let issue of userTestIssuesPassed">
          <app-issue [changeCounter]="changeCounter" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [issue]="issue"></app-issue>
        </span>
      </span>
      <span *ngIf="status.key =='waitingTest'">
        <span *ngFor="let issue of userTestIssues | filterIssueByLabel: 'user-test-required'">
          <app-issue [changeCounter]="changeCounter" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [issue]="issue"></app-issue>
        </span>
      </span>
      <span *ngIf="status.key =='waitingResponse'">
        <span *ngFor="let issue of userTestIssues | filterIssueByLabel: 'user-test-failed'">
          <app-issue [changeCounter]="changeCounter" [scope]="'platform'" [scopeValue]="''" [gravityX]="'left'" [gravityY]="'bottom'" [issue]="issue"></app-issue>
        </span>
      </span>
    </td>
  </tr>
</tbody></table>