
<!-- <nav class="navbar navbar-dark bg-dark shadow navbar-sm">
    <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">{{title}}</span>
        </div>
    </div>
</nav> -->

<!-- <h1></h1> -->

<div class="container-fluid">
  <table class="table table-striped">
    <thead class='thead-dark'>
      <tr>
        <th id='th-platform'>Platform</th>
        <th id='th-alpha' class='tier'>Alpha</th>
        <th id='th-beta' class='tier'>Beta</th>
        <th id='th-stable' class='tier'>Stable</th>
        <th id='th-issues'>Issues</th>
        <th id='th-crashes'>Crashes</th>
        <th id='th-pulls'>Pull Requests</th>
      </tr>
    </thead>
    <tbody>
      <tr class='tr-platform' *ngFor="let platform of platforms | keyvalue">
        <th><img src="assets/{{platform.key}}.png"> {{platform.value.name}}</th>
        <td class="tier" id="tier-alpha">
          <div class="tier-container">
            <div class="tier-release">
              <div class="tier-release-version">
                {{status?.keyman[platform.key].alpha.version}}
              </div>
              <div class="tier-release-date">
                {{releaseDate(platform.key,'alpha')}}
              </div>
            </div>
            <div class="tier-build-state" title="{{statusTip(platform.key,'alpha')}}">
              <a class="label {{statusClass(platform.key,'alpha')}}" href="{{statusLink(platform.key,'alpha')}}" target="_blank">{{statusText(platform.key,'alpha')}}</a>
            </div>
          </div>
        </td>

        <td class="tier" id="tier-beta">
          <div class="tier-container">
            <div class="tier-release">
              <div class="tier-release-version">
                {{status?.keyman[platform.key].beta.version}}
              </div>
              <div class="tier-release-date">
                {{releaseDate(platform.key,'beta')}}
              </div>
            </div>
            <div class="tier-build-state" title="{{statusTip(platform.key,'beta')}}">
              <a class="label {{statusClass(platform.key,'beta')}}" href="{{statusLink(platform.key,'beta')}}" target="_blank">{{statusText(platform.key,'beta')}}</a>
            </div>
          </div>
        </td>

        <td class="tier" id="tier-stable">
          <div class="tier-container">
            <div class="tier-release">
              <div class="tier-release-version">
                {{status?.keyman[platform.key].stable.version}}
              </div>
              <div class="tier-release-date">
                {{releaseDate(platform.key,'stable')}}
              </div>
            </div>
            <div class="tier-build-state" title="{{statusTip(platform.key,'stable')}}">
              <a class="label {{statusClass(platform.key,'stable')}}" href="{{statusLink(platform.key,'stable')}}" target="_blank">{{statusText(platform.key,'stable')}}</a>
            </div>
          </div>
        </td>

        <td class="issues"></td>
        <td class="crashes"></td>

        <td class="pulls">
          <span *ngFor="let pull of platform.value.pulls">
            <a href="{{pull.pull.node.url}}" class="label {{pullClass(pull)}}" title="{{pull.pull.node.title}}: {{pull.state?.description}}" target="_blank">{{pull.pull.node.number}}</a>
          </span>
        </td>
      </tr>
      <tr class='tr-platform'>
        <th>Unlabeled Pull Requests and Issues</th>
        <td colspan='3'></td>
        <td class='issues'></td>
        <td class='crashes'></td>
        <td class='pulls'>
          <span *ngFor="let pull of unlabeledPulls">
            <a href="{{pull.pull.node.url}}" class="label {{pullClass(pull)}}" title="{{pull.pull.node.title}}: {{pull.state?.description}}" target="_blank">{{pull.pull.node.number}}</a>
          </span>
        </td>
      </tr>
      <tr class='tr-site' *ngFor="let site of sites | keyvalue">
        <th><a href='https://{{site.key}}'>{{site.key}}</a></th>
        <td class='nodeping'><!-- todo --></td>
        <td colspan='2'></td>
        <td class='issues'></td>
        <td class='crashes'></td>
        <td class='pulls'>
          <span *ngFor="let pull of site.value.pulls">
            <a href="{{pull.pull.url}}" class="label " title="{{pull.pull.title}}" target="_blank">{{pull.pull.number}}</a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>


</div>