
<nav class="navbar navbar-dark bg-dark shadow navbar-sm">
    <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">
            {{title}}
          </span>
          <span class="navbar-phase">
            <a target='_blank' href='https://github.com/keymanapp/keyman/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+milestone%3A{{phase?.title}}+org%3Akeymanapp'>{{phase?.title}}</a>
            <span class="navbar-phase-dates">{{phaseStart}} &mdash; {{phaseEnd}}</span>
          </span>
          <span class="navbar-new-issues">
            <a target='_blank' href="https://github.com/keymanapp/keyman/issues?q=is%3Aopen+is%3Aissue+-label%3Aandroid/+-label%3Aios/+-label%3Alinux/+-label%3Amac/+-label%3Adeveloper/+-label%3Aweb/+-label%3Awindows/+-label%3Acommon/" class="label hide-if-zero {{errorClassIfNonZero(status?.github.data.unlabeledIssues.issueCount)}}">New issues: {{status?.github.data.unlabeledIssues.issueCount}}</a>
            <app-issue-list [issues]="status?.github.data.unlabeledIssues.nodes"></app-issue-list>
          </span>
          <span class="navbar-new-pulls">
            <span *ngFor="let pull of unlabeledPulls">
              <app-pull-request [class]="'failure'" [pull]="pull"></app-pull-request>
            </span>
          </span>
          <span class="navbar-contributions" *ngIf="showContributions">
            <span class="navbar-contribution {{selectedContribution == user.login ? 'fixed' : ''}}" *ngFor="let user of status?.contributions.data.repository.contributions.nodes">
              <span *ngIf="user.contributions.pullRequests.nodes.length + user.contributions.reviews.nodes.length + user.contributions.issues.nodes.length > 0">
                <img class="avatar-40" src="{{user.avatarUrl}}&size=40" (click)="selectUser(user.login)">
                <span class="navbar-contribution-data dropdown-menu-right">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th style='width:9%'>
                          <a href='https://github.com/{{user.login}}?tab=overview&from={{sprintDays[0]?.ghdate}}&to={{sprintDays[13]?.ghdate}}' target='_blank'><img class="avatar-48" src="{{user.avatarUrl}}&size=48">
                          {{user.login}}</a>
                        </th>
                        <th style='width:6.5%' *ngFor="let day of sprintDays">
                          <a href='https://github.com/{{user.login}}?tab=overview&from={{day?.ghdate}}&to={{day?.ghdate}}' target='_blank'>{{day.dayText}}<br>{{day.monthText}} {{day.dateText}}</a>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>
                          Issues
                          <app-clipboard [text]="getContributionIssueText(user)" title="Copy HTML formatted list of issues to clipboard"></app-clipboard>
                        </th>
                        <td  *ngFor="let day of sprintDays">
                          <span *ngFor="let issue of user.contributions.issues.nodes | filterObjectByDate: day.date">
                            <a class='contribution-issue' href='{{issue.issue.url}}' target='_blank' title='{{issue.issue.title}}'>{{issue.issue.number}}</a>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          PRs
                          <app-clipboard [text]="getContributionPRText(user)" title="Copy HTML formatted list of pull requests to clipboard"></app-clipboard>
                        </th>
                        <td *ngFor="let day of sprintDays">
                          <span *ngFor="let pr of user.contributions.pullRequests.nodes | filterObjectByDate: day.date">
                            <a class='contribution-issue' href='{{pr.pullRequest.url}}' target='_blank' title='{{pr.pullRequest.title}}'>{{pr.pullRequest.number}}</a>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>
                          Reviews
                          <app-clipboard [text]="getContributionReviewText(user)" title="Copy HTML formatted list of reviews to clipboard"></app-clipboard>
                        </th>
                        <td *ngFor="let day of sprintDays">
                          <span *ngFor="let review of user.contributions.reviews.nodes | filterObjectByDate: day.date">
                            <a class='contribution-issue' href='{{review.pullRequest.url}}' target='_blank' title='{{review.pullRequest.title}}'>{{review.pullRequest.number}}</a>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </span>
              </span>
            </span>
          </span>
        </div>
    </div>
</nav>

<!-- <h1></h1> -->

<div class="container-fluid {{isBetaRunning() ? 'in-beta' : 'not-in-beta'}}">
  <table class="table table-striped table-bordered">
    <thead class='thead-dark'>
      <tr>
        <th id='th-platform'>Platform</th>
        <th id='th-stable' class='tier'>Stable</th>
        <th id='th-beta' class='tier'>Beta</th>
        <th id='th-alpha' class='tier'>Alpha</th>
        <th id='th-errors' title='Event summary from Sentry (this sprint only)'>Errors
          <span *ngIf="status?.sentry?.windows?.errorId" title="An error '{{status?.sentry?.windows?.detail}}' has been detected on sentry.keyman.com">
            <a href="https://sentry.keyman.com/" target="_blank">⚠</a>
          </span>
        </th>
        <th id='th-issues'>Issues</th>
        <th id='th-pulls'>Pull Requests</th>
      </tr>
    </thead>
    <tbody>
      <tr class='tr-platform' *ngFor="let platform of platforms | keyvalue">
        <th><img src="assets/{{platform.value.id}}.png">&#160;&#160;<a href="https://github.com/keymanapp/keyman/pulls?q=is%3Aopen+is%3Apr+label%3A{{platform.value.id}}/" target="_blank">{{platform.value.name}}</a></th>

        <td class="tier" id="tier-stable">
          <div class="tier-container" *ngIf="platform.value.id != 'common'">
            <div class="tier-build-state" title="{{statusTip(platform.value.id,'stable')}}">
              <a class="label {{statusClass(platform.value.id,'stable')}}" href="{{statusLink(platform.value.id,'stable')}}" target="_blank">{{statusText(platform.value.id,'stable')}}</a>
            </div>
            <div class="tier-release">
              <div class="tier-release-version {{downloadClass(platform.value.id,'stable')}}">
                <a href="{{status?.keyman[platform.value.id].stable.downloadUrl}}" target="_blank" title="Version on download.keyman.com: {{status?.keyman[platform.value.id].stable.version}}">v</a>
              </div>
            </div>
            <div class="tier-release-date">
              {{releaseDate(platform.value.id,'stable')}}
            </div>
        </div>
        </td>

        <td class="tier" id="tier-beta">
          <div class="tier-container" *ngIf="platform.value.id != 'common'">
            <div class="tier-build-state" title="{{statusTip(platform.value.id,'beta')}}">
              <a class="label {{statusClass(platform.value.id,'beta')}}" href="{{statusLink(platform.value.id,'beta')}}" target="_blank">{{statusText(platform.value.id,'beta')}}</a>
            </div>
            <div class="tier-release">
              <div class="tier-release-version {{downloadClass(platform.value.id,'beta')}}">
                <a href="{{status?.keyman[platform.value.id].beta.downloadUrl}}" target="_blank" title="Version on download.keyman.com: {{status?.keyman[platform.value.id].beta.version}}">v</a>
              </div>
            </div>
            <div class="tier-release-date">
              {{releaseDate(platform.value.id,'beta')}}
            </div>
        </div>
        </td>

        <td class="tier" id="tier-alpha">
          <div class="tier-container" *ngIf="platform.value.id != 'common'">
            <div class="tier-build-state" title="{{statusTip(platform.value.id,'alpha')}}">
              <a class="label {{statusClass(platform.value.id,'alpha')}}" href="{{statusLink(platform.value.id,'alpha')}}" target="_blank">{{statusText(platform.value.id,'alpha')}}</a>
            </div>
            <div class="tier-release">
              <div class="tier-release-version {{downloadClass(platform.value.id,'alpha')}}">
                <a href="{{status?.keyman[platform.value.id].alpha.downloadUrl}}" target="_blank" title="Version on download.keyman.com: {{status?.keyman[platform.value.id].alpha.version}}">v</a>
              </div>
            </div>
            <div class="tier-test" class="tier-test {{tierTestClass(platform.value.id,'alpha')}}" title="{{tierTestTitle(platform.value.id,'alpha')}}">
              <a href="{{tierTestLink(platform.value.id,'alpha')}}" target="_blank">🧪</a>
            </div>
            <div class="tier-release-date">
              {{releaseDate(platform.value.id,'alpha')}}
            </div>
        </div>
        </td>

        <td class="sentry-events">
          <app-sentry [platform]="platform.value.id" [stats]="status?.sentry[platform.value.id]"></app-sentry>
        </td>

        <td class="issues">
          <a class="issue-count" target="_blank" href="https://github.com/keymanapp/keyman/issues?q=is%3Aopen+is%3Aissue+label%3A{{platform.value.id}}/">{{platform.value.totalIssueCount}}</a>

          <ng-container *ngFor="let milestone of platform.value.milestones">
            <span class="issue-box">
              <app-count-box [repo]="'keyman'" [title]="milestone.title" [count]="milestone.count" [label]="platform.value.id+'/'" [class]="'milestone-'+milestone.id"></app-count-box>
              <app-issue-list *ngIf="milestone.title != 'Future'" [issues]="milestone?.nodes"></app-issue-list>
            </span>
          </ng-container>
        </td>

        <td class="pulls">
          <span *ngFor="let pull of platform.value.pulls">
            <app-pull-request [pull]="pull"></app-pull-request>
          </span>
        </td>
      </tr>

    </tbody>
  </table>
  <table id="sites-and-relatives" class="table table-striped table-bordered table-sm">
    <tbody>
      <tr class='tr-site'>
        <th class='th-keyboards'><a href="https://github.com/keymanapp/keyboards" target="_blank">⌨ keyboards</a></th>
        <th class='th-lexical-models'><a href="https://github.com/keymanapp/lexical-models" target="_blank">📔 lexical-models</a></th>
        <th class='gap'></th>
        <th *ngFor="let site of sites | keyvalue"><a target="_blank" href='https://github.com/keymanapp/{{site.key}}'>{{site.value.id}}</a>
          <span class='nodeping'></span>
          <app-sentry [site]="site.key" [platform]="site.key" [stats]="status?.sentry[site.key]"></app-sentry>
        </th>
      </tr>
      <tr class='tr-site'>
        <td class='pulls'>
          <app-count-box [repo]="'keyboards'" [isPulls]="true" [title]="'Open PRs'" [count]="status?.github.data.keyboards.pullRequests.totalCount"></app-count-box>
        </td>
        <td class='pulls'>
          <app-count-box [repo]="'lexical-models'" [isPulls]="true" [title]="'Open PRs'" [count]="status?.github.data.lexicalModels.pullRequests.totalCount"></app-count-box>
        </td>
        <td class='gap'></td>
        <ng-container *ngFor="let site of sites | keyvalue">
        <!--<td class='issues'></td>
        <td class='crashes'></td>-->
        <td class='pulls'>
          <span *ngFor="let pull of site.value.pulls">
            <app-pull-request [class]="" [pull]="pull"></app-pull-request>
          </span>
        </td>
        </ng-container>
      </tr>
      <tr class='tr-site'>
        <td class='issues'>
          <app-count-box [repo]="'keyboards'" [title]="'Open issues'" [count]="status?.github.data.keyboards.issues.totalCount"></app-count-box>
        </td>
        <td class='issues'>
          <app-count-box [repo]="'lexical-models'" [title]="'Open issues'" [count]="status?.github.data.lexicalModels.issues.totalCount"></app-count-box>
        </td>
        <td class='gap'></td>
        <ng-container *ngFor="let site of sites | keyvalue">
          <!--<td class='issues'></td>
          <td class='crashes'></td>-->
          <td class='issues'>

            <ng-container *ngFor="let milestone of site.value.milestones">
              <span class="issue-box">
                <app-count-box [repo]="site.key" [title]="milestone.title" [count]="milestone.count" [class]="'milestone-'+milestone.id"></app-count-box>
                <app-issue-list *ngIf="milestone.title != 'Future'" [issues]="milestone?.nodes"></app-issue-list>
              </span>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>


</div>