@if (unfixedCount > 0 || (count > 0)) {
<a target='_blank' href='{{link ? link : repo == "*" ?
  "https://github.com/keymanapp/" : "https://github.com/keymanapp/"+repo+"/"+modeUri()+"?utf8=%E2%9C%93&q=is%3Aopen+"+modeFilter()+filter()}}'>
    <span class='countbox {{class}}'>
      <span class='countbox-title'>{{title}}</span>
      <span class='countbox-value'>{{unfixedCount}} @if (unfixedCount < count) {
        <span class='countbox-total'>({{count}})</span>
      }</span>
    </span>
  </a>
}
